.nav {
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav__item {
  color: #bbbbbb;
  font-size: 1.2rem;
  font-weight: 400;
  text-decoration: none;

  &:hover {
    color: #f3f3f3;
  }
}

.nav__item.active {
  font-weight: 600;
  color: #26cd7b;
}

@media (max-width: 768px) {
  .nav {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    display: none;
    flex-direction: column;
    background-color: #172035;
    padding: 15px;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    z-index: 10;
  }

  .nav--open {
    display: flex;
  }
}
