.play-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.6rem 1.2rem;
  background-color: #fd921e;
  color: #fff;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.play-button:hover {
  background-color: #f77e00;
}

@media screen and (max-width: 768px) {
  .play-button {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
  }
}
