.card {
  scroll-snap-align: start;
  flex-shrink: 0;
  position: relative;
  width: 220px;
  height: 350px;
  border-radius: 20px;
  background-color: #2a2f3a;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.card:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  filter: saturate(50%) contrast(115%);
  background: linear-gradient(
    360deg,
    rgba(29, 26, 31, 0.938) 0%,
    rgba(53, 50, 56, 0.747) 40%,
    rgba(76, 71, 80, 0.288) 80%,
    rgba(255, 255, 255, 0.005) 100%
  );
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card img {
  border-radius: 20px;
  height: 350px;
  width: 100%;
  object-fit: fill;
}

.card-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  bottom: 0;
  padding: 15px;
  gap: 15px;
}

.card-content__title {
  align-self: center;
  font-size: 1.4rem;
  font-weight: 600;
}

.card-content__description {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .card-content__description--vote {
    display: flex;
    align-items: center;
    gap: 8px;

    .card-content__description--vote-average {
      font-size: 1rem;
      font-weight: 500;
    }
  }
  .card-content__description--view-detail:hover {
    text-decoration: underline;
  }
}

@media screen and (max-width: 768px) {
  .card {
    width: 180px;
    height: 300px;
  }

  .card img {
    height: 300px;
  }

  .card-content__title {
    font-size: 1.2rem;
  }

  .card-content__description {
    gap: 10px;

    .card-content__description--vote {
      gap: 5px;

      .card-content__description--vote-average {
        font-size: 0.9rem;
      }
    }
  }
}
