.video-modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(100, 125, 194, 0.322);
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.video-modal__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #172035;
  border-radius: 20px;
  width: 60%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.26);
  gap: 10px;
  margin-bottom: 3rem;
  padding: 1rem 2rem;
}

.video-modal__content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 1rem;
  margin-bottom: 1rem;
}

.video-modal__content-video {
  width: 100%;
  height: auto;
  padding-bottom: 1rem;
  object-fit: cover;
}

.video-modal__content-disclaimer {
  font-size: 0.85rem;
  color: #cfcfcf;
  text-align: center;
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 768px) {
  .video-modal__content {
    width: 90%;
  }
}
